@use 'reset';
@use 'global';

body {
  min-height: 100vh;
  font: var(--font-17-600);
  color: var(--primary-color);
  background-color: var(--bg-page-color);
}

.page {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.content {
  width: 100%;
  max-width: 1135px; 
}