.inputWrapper{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input{
  padding: 12px 16px;
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  font: var(--font-15-500);
  color: var(--primary-color);
  transition-property: border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.inputError {
  border-color: var(--error-color);
}

.error {
  font: var(--font-13-600);
  color: var(--error-color);
}

.input:focus-visible {
  outline: none;
  border-color: var(--new-price-color);
}