.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 280px;
  max-width: 350px;
  padding: 24px;
  background: var(--bg-surface-color);
  border-radius: 30px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
  transition-property: transform, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: ease;

  &:hover{
    transform: translateY(-6px);
    box-shadow: 0 16px 32px 0 rgb(0 0 0 / 16%);
  }

  &:focus-visible {
    outline: 2px solid var(--new-price-color);
    outline-offset: 4px;
  }

  &:active {
    transform: scale(0.95);
  }
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  margin-bottom: 54px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.topRow,
.bottomRow {
  display: flex;
  justify-content: space-between;
}

.title {
  font: var(--font-17-600);
  color: var(--primary-color);
}

.prices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priceNew {
  font: var(--font-17-600);
  color: var(--new-price-color);
}

.priceOld {
  font: var(--font-13-600);
  color: var(--old-price-color);
  text-decoration-line: line-through;
  
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
  font: var(--font-17-600);
  color: var(--secondary-color);
}

.star {
  color: var(--old-price-color);
  width: 23.333px;
  height: 21.926px;
}

.buyButton {
  font: var(--font-17-600);
  color: var(--buy-button-color);
}